
.body{padding-top: 125px;} 
.body1{padding-top: 107.5px;}  

.card{
  width: 18rem;
  margin-bottom: 20px;
}
.fixedaffix {
  top: 20px;
}
.img-a {
  border-radius: 1rem;

}
.rounded-lx{
  padding-bottom: 2%;
  
}